@use 'sass:math';
@use '../settings/_vars.scss' as *;

html {
  font-size: 62.5%; // will work when user change browser font
  * {
    box-sizing: border-box;
  }
}
input[type=submit]:hover{
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $bg-body;
  min-height: 100vh;
}

.main-header {
  background: $main-color;
  color: white;
  margin: 0;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  text-align: center;
  font-size: 5rem;
}

.information {
  margin: $spacing-unit 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @extend .box--shadow;

  > * {
    margin: 0;
    font-size: 1.8rem;
  }

  .information__time time, span {
    color: $main-color;
    font-weight: bold;
  }
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: $spacing-unit;
  margin: 0 auto;
}

.play--again {
  margin-top: $spacing-unit*4;
}

.play--again--hidden {
  display: none;
}

.app {
  list-style: none;
  padding: 0;
  margin: $spacing-unit*4 0;
  display: grid;
  grid-template-columns: 1fr;

  &__item {
    grid-row-start: 1;
    grid-column-start: 1;
    display: block;
    transition: transform ease 0.5s, opacity ease 2s;
    @extend .box;

    &__info {
      padding: $spacing-unit;
      display: none;
      justify-content: space-between;
      font-size: 1.8rem;
      color: white;
      background: rgba($main-color, 0.5);
      z-index: 2;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      text-transform: uppercase;

      &__name {
        font-weight: bold;
      }

      &__info {
        font-weight: 400;
      }
    }

    &--move {
      opacity: 0;
    }

    &--move--success {
      transform: translateX(-120%);
      box-shadow: $box-shadow--success;
    }

    &--move--error {
      box-shadow: $box-shadow--error;
      transform: translateX(120%);
    }

    &__font {
      display: block;
      width: 100%;
      height: auto;
      border-radius: $border-radius;
      overflow: hidden;
    }

    &:nth-last-child(-n+3) {
      @extend .box--shadow;
    }
  }
}

.app {
  .app__item {
    &:nth-last-child(2) {
      transform: rotate(3deg);
    }

    &:nth-last-child(3) {
      transform: rotate(7deg);
    }

    &:last-child {
      z-index: 1;
    }
  }
}

.play {
  padding: $spacing-unit;
  @extend .box--shadow;

  &__item {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1.8rem;

    &--submit {
      background: $main-color;
      color: white;
      font-size: 2rem;
      box-shadow: none;
      border: none;
      padding: math.div($spacing-unit, 2);
      border-radius: calc($border-radius/3);
    }

    &--search {
      margin-top: calc($spacing-unit/2);
      margin-bottom: $spacing-unit;
      border: 1px solid $main-color;
      border-radius: 5px;
      padding: math.div($spacing-unit, 2);
      -webkit-appearance: none;
      background: white;
    }
  }

}

.wrong-cards {
  padding: 0;
  margin-top: $spacing-unit*3;

  .app__item__info {
    display: flex;
  }

  .app__item {
    margin-top: $spacing-unit;
    @extend .box--shadow;
  }
}

.box {
  background: white;
  border-radius: $border-radius;
  overflow: hidden;
}

.box--shadow {
  box-shadow: $box-shadow;
}

.box--small {
  padding: math.div($spacing-unit, 2);
  border-radius: math.div($border-radius, 3);
}